<div class="flex flex-wrap max-w-[650px] justify-center">
    <app-pokemon-thumbnail *ngFor="let pokemon of pokemonList" [pokemonName]="pokemon.name"></app-pokemon-thumbnail>

</div>

<div class="flex justify-center font-black py-4">
    @if (currentPage > firstPage) {
        <a routerLink="" [queryParams]="{page: (currentPage-1)}" class="text-3xl">
            &lt;
        </a>
        <div class="w-10"></div>
    }

    @if (!isLastPage) {
        <a routerLink="" [queryParams]="{page: (currentPage+1)}" class="text-3xl">
            &gt;
        </a>
    }
    
</div>
