<div class="flex flex-wrap max-w-[650px] justify-center">
    <app-pokemon-thumbnail *ngFor="let pokemon of pokemonList" [pokemonName]="pokemon.name"></app-pokemon-thumbnail>

</div>

<div class="flex justify-center font-black py-4">
    @if (currentPage > firstPage) {
        <a routerLink="" [queryParams]="{page: (currentPage-1)}" class="text-3xl">
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
        </a>
    }
    <div class="text-center flex items-center px-4">
        {{ currentPage }} / {{ totalPages }}
    </div>
    @if (!isLastPage) {
        <a routerLink="" [queryParams]="{page: (currentPage+1)}" class="text-3xl">
            <span class="material-symbols-outlined">
                arrow_forward_ios
            </span>
        </a>
    }
    
</div>
