<swiper-container pagination-dynamic-bullets="true" pagination-type="fraction" dynamicMainBullets="4" keyboard pagination navigation 
class="w-[50vw] h-[50vh] box-red *:flex *:justify-center *:items-center flex flex-col"
    (swiperslidechange)="slideChange($event)" 
    [style]="swiperStyles"
    grid-rows="2"
    >
    @for (move of oshawottMoves; track move; let i = $index) {
        <swiper-slide class="">
            <div class="box-red" (click)="slideClicked(i)">{{ move.move.name }}</div>
        </swiper-slide>
    }
</swiper-container>