<div class="h-[180px] my-4 overflow-y-auto scale-90 origin-center">
    @for (move of pokemonMoves; track move; let i = $index) {
    @if(move.moveDetails) {
    <div class="flex justify-center my-7 first:mt-0">
        <div class="h-fit flex items-center w-[80%]">
            <div class="size-11 mr-6">
                <app-pokemon-type-icon [type]="move.moveDetails.type.name"></app-pokemon-type-icon>
            </div>

            <div class="w-[calc(80%-1.5rem)]">
                <div class="font-bold">
                    {{ getMoveName(move.moveDetails) }}
                </div>
                <div class="text-justify ml-5">
                    {{ getFlavorTextEntry(move.moveDetails) || '-' }}
                </div>
            </div>
        </div>
    </div>
    }
    }
</div>