<div
    class="w-[400px] min-h-[680px] relative flex flex-col items-center overflow-hidden border-zinc-900 border-[20px] bg-zinc-900 rounded-[60px] lg:scale-100">
    @if (loading) {
        <div class="w-full flex flex-col items-center h-[350px] absolute skew-y-[20deg] origin-right bg-gray-600 animate-pulse">
        </div>
    }
    @else {
        <div class="w-full flex flex-col items-center h-[350px] absolute skew-y-[20deg] origin-right" [class]="typeBg">
        </div>
        <div class="w-full z-10 pt-4 px-8 flex justify-between items-center">
            <div>
                <!-- <p class="box-red">{{ pokemonTypes }}</p> -->
                <p class="text-3xl font-black">{{ name }}</p>
                <p>{{ genus }}</p>
            </div>
            <div class="h-12">
                @if (types) {
                    <app-pokemon-type-icon-list [types]="types"></app-pokemon-type-icon-list>
                }
            </div>
        </div>
        <img [src]="picUrl" [alt]="name" class="h-[300px] z-[9]">
    
        <div class="w-[90%] flex justify-center text-justify">
            <p>{{ description }}</p>
        </div>
    
        <div class="w-full h-full ">
            @if (moves) {
                <app-pokemon-moves-list [moves]="moves"></app-pokemon-moves-list>
            }
        </div>
        <div class="h-1 w-full" [class]="typeBg"></div>
    }
</div>